/* @import "sanitize.css"; */
/* @import "normalize.css"; */
@import "basscss";
@import "gemini-scrollbar/gemini-scrollbar.css";
@import "./../vendor/github-corner";
@import "./../vendor/gemini-scrollbar";
@import "./../components/select";
@import "./../components/input";
@import "./../components/button";

:root {
  --background: #0c182c;
  --foreground: #6B6ED8;
  --secondary: rgb(74, 197, 195);
  --accent: #CE40AA;

  /* --background: #14091a; */
  /* --foreground: #6B6ED8; */
  /* --secondary: rgb(74, 197, 195); */
  /* --accent: #CE40AA; */

  --ui-height: 48px;
  --ui-radius: 3px;

  /* --foreground: #84d8fd; */
  /* --secondary: #fe879f; */

  /* --background: #14091a; */
  /* --foreground: #84d8fd; */
  /* --secondary: #fe879f; */

  /* --foreground: #39CCCC; */
  /* --background: #0f0f0f; */

  /* --foreground: #AACCFF; */
  /* --background: #222233; */

  /* --foreground: #fff; */
  /* --background: #000; */

  font-size: 16px;
  line-height: 1.618;
  font-family: system-ui;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-weight: 500;
}

body {
  background-color: var(--background);
  color: color(var(--foreground) tint(50%));
}

a {color: var(--secondary)}

h1 {font-size: 4.5rem}
h2 {font-size: 2rem}
h3 {font-size: 1.25rem}

.wrapper {
  width: 90%;
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
}

.logo-em {
  vertical-align: sub;
  line-height: 1;
}

.h {
  color: color(var(--foreground) tint(80%));
}

.share-icon {
  fill: var(--secondary);
  width: 20px;
  height: 20px;
}

.demo-scrolling-box {
  background-color: color(var(--background) shade(14%));
  box-shadow:
    0 0 0 1px color(var(--foreground) shade(20%)),
    0 20px 40px color(var(--background) shade(30%));
  color: color(var(--background) tint(50%));
  border-radius: 2px;
  overflow: auto;
  height: 500px;

  & ul {
    counter-reset: items;
    width: 2000px;
  }

  & li {
    float: left;
    width: 200px;
    height: 150px;
    border: 1px solid color(var(--foreground) shade(60%));

    &::before {
      counter-increment: items;
      content: counter(items);
      display: block;
      font-size: 2.5rem;
      padding-top: 3.5rem;
      font-weight: bold;
      text-align: center;
    }
  }
}
